x-peer-options: &peer_options
  read_timeout: 30 # in seconds
  idle_timeout: null # in seconds
  write_timeout: 30 # in seconds
  verify_cert: true
  verify_hostname: true
  tcp_recv_buf: 4096 # in bytes
  curves: null
  tcp_fast_open: true

x-ssl-settings: &ssl_settings
  cacert: null
  server_cert: null
  server_key: null
  ssl_min_version: "TLS1"
  ssl_max_version: "TLS1.3"
  cipher_suites:
    tls12: null
    tls13: null

x-acme-settings: &acme_settings
  ca_server: "https://acme-staging-v02.api.letsencrypt.org/directory"
  email: "admin@example.com"
  storage: "letsencrypt/staging.json"
  challenge: "http-01" # http-01 or tls-alpn-01

jokoway:
  http_listen: "[::]:2014"
  https_listen: "[::]:2024"
  # ssl: *ssl_settings
  # acme: *acme_settings

  upstreams:
    - name: "httpbin-upstream"
      peer_options: *peer_options
      servers:
        - host: httpbin.kuli.dev:443
        - host: httpbingo.org:443

  services:
    - name: "httpbin-service"
      host: "httpbin-upstream"
      protocols:
        - "http"
        - "https"
      routes:
        - name: "httpbin-router"
          rules:
            - rule: "PathPrefix(`/`)"
